@page "/Graph"

<div>
    Highchart is not supported. Choose another chart component
    <div>
        <a class="link" href="https://www.highcharts.com/forum/viewtopic.php?t=46210">https://www.highcharts.com/forum/viewtopic.php?t=46210</a>
    </div>
</div>

