<div>
    <div class="hero-content" *ngIf="selectedItem !== undefined">
        <app-dimension-card [dimension]="selectedItem" (click)="showModal()" />
    </div>
    <div class="stats shadow" *ngIf="selectedItem !== undefined">
        <div class="stat place-items-center" *ngFor="let value of selectedItem?.values; index as i">
            <div class="stat-title">Value {{ i + 1 }}</div>
            <div class="stat-value">{{ value }}</div>
            <div class="stat-desc">mm</div>
        </div>
    </div>
    <div>
        <div class="modal" [ngClass]="modalInput ? 'modal-open' : ''">
            <div class="modal-box">
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">New dimension name</span>
                    </label>
                    <input [(ngModel)]="newName" type="text" placeholder="Type here"
                        class="input input-bordered w-full max-w-xs" />
                    <label class="label">
                        <span class="label-text">New max value</span>
                    </label>
                    <input [(ngModel)]="newMax" type="number" placeholder="Type here"
                        class="input input-bordered w-full max-w-xs" />
                    <div class="right-align">
                        <button class="btn btn-primary" (click)="saveValues()">Save</button>
                        <button class="btn" (click)="hideModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>